html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #060604;
}

header {
    align-items: center;
    margin-bottom: 0px;
    margin-top: 1px;
    padding: 0%;
    border: 0.5px solid;
    font-family: Righteous;
    justify-content: space-between;
    background-color: #000000;
    display: flex; /* align title and menu/button to sit side-by-side */
    position: sticky;
  position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.logo {
   overflow: hidden;
   font-family: Righteous;
   text-align: left;
   max-width: 100px;
   float: left;
   margin-left: 10px;
   padding-top: 1px;
   padding-left: 10px;
  justify-content: space-around;
}


.menu {
  position: relative, fixed; /* allow the dropdown list to be positioned below button */
}

/* menu toggle */

.menu-toggle {
  border: 2px solid #aa3700;
  width: 80px;
  height: 30px;
  background: transparent;
  display: flex; /* display menu button by default, for lower resolutions */
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
  color: #aa3700;
}

.menu-toggle:hover {
  border-color: #aa3700; /* hover styles, and also when button is selected */
  background: #7b7b7c;
}

.menu.is-visible .menu-toggle {
  color: #aa3700;
  border: 2px solid #aa3700;
}


@media (min-width: 800px) {
  /* hide the menu toggle button when there is enough space on screen for full menu */
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-text {
  color: #aa3700;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 10px;
  transition: all 0.5s;
}

.menu-toggle:hover .menu-toggle-text,
.menu.is-visible .menu-toggle-text {
  color: #aa3700;
}

/* menu toggle icon styles */

.menu-toggle-bars {
  position: relative;
  width: 18px;
  height: 14px;
}

.menu-toggle-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #aa3700;
  transition: all 0.5s;
}

.menu-toggle:hover .menu-toggle-bar,
.menu.is-visible .menu-toggle-bar {
  background: #aa3700;
}

.menu-toggle-bar-top {
  top: 0;
}

.menu-toggle-bar-middle {
  top: 50%;
  margin-top: -1px;
}

.menu-toggle-bar-bottom {
  bottom: 0;
}

/* navigation */

.navigation {
  display: none; /* hide the list by default for lower resolutions */
  margin: 10px;
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  z-index: 10; /* positioning over things */
  right: 0;
  list-style: none;
  font-family: Righteous;
  white-space: nowrap;
}

.menu.is-visible .navigation {
  display: block; /* display the list when the button is selected */
  background-color: black;
  color: #aa3700;
}

@media (min-width: 800px) {
  /* at larger resolutions show the whole menu in a line, not as a dropdown */
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
  }
  
  .menu.is-visible .navigation {
    display: flex; /* display the list when the button is selected */
    background-color: black;
  }
}

nav {
  text-align: center;
  padding: 10px;
  text-decoration: thick;
  font-size: 17px;
  justify-content: space-around;
}

.navigation-item {
    flex: 1;
    list-style: none;
}

.navigation-link {
    color: #aa3700;
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

.navigation-link:hover {
    color: #aa3700;
    text-decoration: none;
}

.navigation a:hover {
  color: #000000;
  background-color: #aa3700;
}

.navigation a.active {
  background-color: #000000;
  color: #7b7b7c; 
}

#active {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .logo {
    width: 100px;
  }
  footer {
    font-size: 10px;
  }
  input {
    width: 500px;
  }
  textarea {
    width: 500px;
    height: 90px;
  }
  .detail {
    font-size: 20px;
  }
  .page-title {
    font-size: 30px;
  }
  .column1 {
    width: 900px;
    height: 400px;
  }
  img {
    width: 330px;
  }
}

@media screen and (max-width: 1100px) {
  .logo {
    width: 80px;
  }
  footer {
    font-size: 9px;
  }
  input {
    width: 500px;
  }
  textarea {
    width: 500px;
    height: 90px;
  }
  .detail {
    font-size: 17px;
  }
  .page-title {
    font-size: 27px;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    width: 60px;
  }
  footer {
    font-size: 8px;
  }
  input {
    width: 420px;
  }
  textarea {
    width: 420px;
    height: 70px;
  }
  .detail {
    font-size: 14px;
  }
  .page-title {
    font-size: 24px;
  }
  .column2 {
    display: none;
  }
  .column1 {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .logo {
    width: 60px;
  }
  footer {
    font-size: 7px;
  }
  input {
    width: 290px;
  }
  textarea {
    width: 290px;
    height: 45px;
  }
  .detail {
    font-size: 11px;
    top: 0;
  }
  .page-title {
    font-size: 22px;
  }
}

footer {
    display: flex;
    padding: 10px;
    background-color: #aa3700;
    position: sticky;
    font-family: Righteous;
    text-align: center;
    justify-content: center;
}
.description5 {
  color: black;
  font-family: Righteous;
}

.container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-items: center;
}

.page-title {
  font-family: Righteous;
  color: #aa3700;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.column1 {
  font-family: Righteous;
  color: #aa3700;
  justify-content: center;
  margin-right: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.detail {
  font-family: Righteous;
}

input, textarea {
  font-family: Righteous;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #aa3700;
  color: black;
  border-color: #aa3700;
  border-radius: 3px;
  font-family: Righteous;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  align-items: center;
  justify-items: center;
}
.reserve {
  text-decoration-color: none;
  text-anchor: none;
  color: #aa3700;
}

/* modal styles */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 10;
  background-color: #aa3700;
  width: 500px;
  max-width: 80%;
  color: black
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  color: black
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}